<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwj.schedule.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.lwj.schedule.entity.Employee">
            <id property="employeeId" column="Employee_id" jdbcType="VARCHAR"/>
            <id property="employeeMail" column="Employee_mail" jdbcType="VARCHAR"/>
            <result property="employeeName" column="Employee_name" jdbcType="VARCHAR"/>
            <result property="employeePosition" column="Employee_position" jdbcType="VARCHAR"/>
            <result property="employeeShop" column="Employee_shop" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Employee_id,Employee_mail,Employee_name,
        Employee_position,Employee_shop
    </sql>
    <insert id="addEmployee">
        insert into Employee(Employee_id, Employee_name, Employee_mail, Employee_position, Employee_shop)
        values (#{employeeId},#{employeeName},#{employeeMail},#{employeePosition},#{employeeShop})
    </insert>

    <select id="listAllEmployee" resultType="com.lwj.schedule.entity.Employee">
        select *
        from Employee
    </select>

    <select id="listEmployeeByIdName" resultType="com.lwj.schedule.entity.Employee">
        select *
        from Employee
        where Employee_id = #{id} and Employee_name like concat('%', #{name}, '%')
    </select>

    <delete id="deleteEmployeeById">
        delete from Employee
        where Employee_id = #{id}
    </delete>
</mapper>
