<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwj.schedule.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.lwj.schedule.entity.Employee">
            <id property="employeeId" column="Employee_id" jdbcType="VARCHAR"/>
            <id property="employeeMail" column="Employee_mail" jdbcType="VARCHAR"/>
            <result property="employeeName" column="Employee_name" jdbcType="VARCHAR"/>
            <result property="employeePosition" column="Employee_position" jdbcType="VARCHAR"/>
            <result property="employeeShop" column="Employee_shop" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Employee_id,Employee_mail,Employee_name,
        Employee_position,Employee_shop
    </sql>
</mapper>
