<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwj.schedule.mapper.ShopMapper">

    <resultMap id="BaseResultMap" type="com.lwj.schedule.entity.Shop">
            <id property="shopId" column="Shop_Id" jdbcType="VARCHAR"/>
            <result property="shopName" column="Shop_Name" jdbcType="VARCHAR"/>
            <result property="shopAddress" column="Shop_Address" jdbcType="VARCHAR"/>
            <result property="shopSize" column="Shop_Size" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        Shop_Id,Shop_Name,Shop_Address,
        Shop_Size
    </sql>
    <insert id="addShop">
        insert into Shop(Shop_Id, Shop_Name, Shop_Address, Shop_Size)
        values (#{shopId},#{shopName},#{shopAddress},#{shopSize})
    </insert>


    <select id="listAllShop" resultType="com.lwj.schedule.entity.Shop">
        select *
        from Shop
    </select>
    <select id="listShopById" resultType="com.lwj.schedule.entity.Shop">
        select *
        from Shop
        where Shop_Id = #{id}
    </select>
    <select id="listShopByName" resultType="com.lwj.schedule.entity.Shop">
        select *
        from Shop
        where Shop_Name like concat('%', #{name}, '%')
    </select>

    <update id="modifyShopById">
        update Shop
        set Shop_Name = #{name} and Shop_Address = #{address} and Shop_Size = #{size}
        where Shop_Id = #{id}
    </update>
    <delete id="deleteShopById">
        delete from Shop
        where Shop_Id = #{id}
    </delete>
</mapper>
